<p style="color: green"><%= notice %></p>

<h1><%= @question.quiz.title %></h1>
<h2><%= @question.name %></h2>

<table id="answers">
  <thead>
    <tr>
      <th>Answers</th>
    </tr>
  </thead>
  <tbody>
    <% @question.answers.each do |answer| %>
      <%= render answer %>
    <% end %>
  </tbody>
</table>


<div>
  <%= button_to "Add answer", new_question_answer_path(@question, @answer), method: :get %>
  <%= button_to "Edit this question", edit_question_path(@question), method: :get  %>
  <%= button_to "Delete this question", @question, method: :delete %>
</div>
<%= link_to "Back to quiz", quiz_path(@question.quiz) %>
