<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Edit this question", edit_quiz_question_path(@quiz, @question) %> |
  <%= link_to "Back to questions", quiz_questions_path(@quiz) %>

  <%= button_to "Delete this question", [@quiz, @question], method: :delete %>
</div>
