<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Question:</strong>
    <%= @question.name %>
  </p>
</div>

<div>
  <%= link_to "Edit this question", edit_quiz_question_path(@quiz, @question) %> |
  <%= button_to "Delete this question", [@quiz, @question], method: :delete %>
</div>
<%= link_to "Back to quiz", quiz_path(@quiz) %>
