<p style="color: green"><%= notice %></p>

<h1><%= @question.quiz.title %></h1>
<div>
    <strong>Question:</strong>
      <%= @question.name %>
    <div>
    <% @question.answers.each do |answer| %>
      <%= render answer %>
    <% end %>
    </div>
</div>

<div>
  <%= button_to "Add answer", new_question_answer_path(@question, @answer), method: :get %>
  <%= button_to "Edit this question", edit_question_path(@question) %>
  <%= button_to "Delete this question", @question, method: :delete %>
</div>
<%= link_to "Back to quiz", quiz_path(@question.quiz) %>
