<p style="color: green"><%= notice %></p>

<%= render @quiz %>



<table id="questions">
  <thead>
    <tr>
      <th>Questions</th>
    </tr>
  </thead>
  <tbody>
    <% @quiz.questions.each do |question| %>
      <%= render question %>
    <% end %>
  </tbody>
</table>


  <div>
    <%= button_to "Add question", new_quiz_question_path(@quiz, @question),  method: :get %> 
    <%= button_to "Edit this quiz", edit_quiz_path(@quiz), method: :get %> 
    <%= button_to "Delete this quiz", @quiz, method: :delete %>
  </div>

  <div>
    <%= link_to "Back to quizzes", quizzes_path %>
  </div>

