<p style="color: green"><%= notice %></p>

<h2><%= @answer.question.quiz.title %></h2>
<h1><%= @answer.question.name %></h1>
<div>
  <p>
    <strong>Answer:</strong>
      <%= @answer.name %>
  </p>
  <% if @answer.istrue? %>
    <p>Correct answer</p>
  <% end %>
</div>

<div>
  <%= button_to "Edit this answer", edit_answer_path(@answer), method: :get %> 
  <%= button_to "Delete this answer", @answer, method: :delete %>
</div>
<%= link_to "Back to question", @answer.question %> |
<%= link_to "Back to quiz", quiz_path(@answer.question.quiz) %>
