<p style="color: green"><%= notice %></p>

<h1><%= @answer.question.quiz.title %></h1>
<h1><%= @answer.question.name %></h1>
<div>
  <p>
    <strong>Answer:</strong>
      <%= @answer.name %>
    <div>
    <% @question.answers.each do |answer| %>
      <%= render answer %>
    <% end %>
    </div>
  </p>
</div>

<div>
  <%= button_to "Edit this answer", edit_question_answer_path(@question) %> |
  <%= button_to "Delete this question", @question, method: :delete %>
</div>
<%= link_to "Back to quiz", quiz_path(@question.quiz) %>
